<script setup>
import useOrders from "../../composables/order";
import {onMounted} from "vue";
const  {orders, getOrders} = useOrders();
onMounted(() => getOrders());
</script>
<template>
  <div class="mt-12">
    <div class="flex justify-end m-2 p-2">
  </div>
    <div class="mx-auto w-5/6 my-4">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Лицевой счет
          </th>
          <th scope="col" class="px-6 py-3">
            ФИО
          </th>
          <th scope="col" class="px-6 py-3">
            Номер ПУ
          </th>
          <th scope="col" class="px-6 py-3">
            Адрес
          </th>
          <th scope="col" class="px-6 py-3">
          </th>
         <!-- <th scope="col" class="px-6 py-3">
            Редактировать
          </th>-->
        </tr>
        </thead>
        <tbody>
        <tr v-for="order in orders" :key="order.id" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{order.account_number}}
          </th>
          <td class="px-6 py-4">
            {{order.full_name}}
          </td>
          <td class="px-6 py-4">
            {{order.meter_number}}
          </td>
          <td class="px-6 py-4">
            {{order.address}}
          </td>
          <td class="px-6 py-4">
            <!-- <RouterLink to="{name: 'OrderEdit', params: {id: order:id} }" class="px-4 py-2 bg-green-500 hover:bg-green-700 text-white rounded">Редактировать</RouterLink> -->
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</template>
