<script setup>
import { computed, reactive, ref } from "vue";
import { onMounted } from "vue";
import useOrders from "../../composables/order";

const {
  storeOrder,
  errors,
  getEmployeeErrors,
  getBilling,
  getPhase,
  getServices,
  services,
  uuid,
  currentDate,
  selectedServices,
  store,
  staff,
  storeServices,
  getBillingEmployee,
  toast,
} = useOrders();

onMounted(() => getBillingEmployee());

const totalAmount = ref();
const selectService = (service) => {
  service.uuid = uuid;
  
  const index = selectedServices.value.findIndex(
    (item) => item.id === service.id
  );
  if (index !== -1) {
    selectedServices.value.splice(index, 1);
    services.value.push(service);
    totalAmount.value = selectedServices.value.reduce((acc, service) =>  acc +service.amount  , 0) + ' тг.';
    console.log(service.amount);
  } else {
    selectedServices.value.push(service);
    services.value = services.value.filter((item) => item.id !== service.id);
    console.log(service);
    totalAmount.value = selectedServices.value.reduce((acc, service) => acc + service.amount, 0) + ' тг.';
  }
};



const form = reactive({
  account_number: "",
  full_name: "",
  address: "",
  meter_number: "",
  uuid: uuid,
});

//const checkedNames = ref([]);

const service = reactive({
  phase_count: "",
  sum: "",
});

const fillFields = async () => {
  const billingInfo = await getBilling(form.account_number);
  selectedServices.value = [];
  services.value = [];
  totalAmount.value = '';
  service.phase_count = [];
  if (billingInfo) {
    form.full_name = billingInfo.full_name;
    form.address = billingInfo.address.replace("Актюбинская область, г.Актобе, ", "");
    form.meter_numbers = billingInfo.meter_numbers;
    form.phase_count = billingInfo.phase_count;
  } else {
  }
};

/*const submitMeterReading = async (meterNumber) => {
  
  const billingInfo = await getPhase(meterNumber);
  if (billingInfo) {
    service.phase_count = billingInfo.Phase_Count + " - фазный ПУ - " + meterNumber + ":";
    form.phase_count = billingInfo.Phase_Count;
    form.meter_number = meterNumber;

    isModalOpen.value = !isModalOpen.value;
    
    const services = await getServices(service.phase_count); 

    if (services) {
        selectedServices.splice(0); // Clear the entire array
      }
    console.log(services);
  }
};*/

const submitMeterReading = async (meterNumber) => {
  try {
    const billingInfo = await getPhase(meterNumber);

    if (billingInfo) {
      service.phase_count =
      billingInfo.Phase_Count + " фазный прибор учета №" + meterNumber + ":";
      form.phase_count = billingInfo.Phase_Count;
      form.meter_number = meterNumber;

      const services = await getServices(service.phase_count);
      console.log(services);
      isModalOpen.value = !isModalOpen.value;
      totalAmount.value = '';
      selectedServices.value = [];
      services.value = [];
    }
  } catch (error) {
    //console.error(error);
  }
};

const handleCheckboxChange = (service) => {
  if (selectedServices.includes(service)) {
    selectedServices.splice(selectedServices.indexOf(service), 1);
    //getServices(form.phase_count);
  } else {
    //const ser = selectedServices.splice(4, 0, "сложный");

    selectedServices.push({ service });

    const totalSum = computed(() => {
      return selectedServices.reduce((acc, service) => acc + service.amount, 0);
    });

    //selectedServices.splice(3,4,uuid);
  }

  //getServices(form.phase_count);

  // const json = JSON.stringify(selectedServices);
  // console.log(json);
};

const isModalOpen = ref(false);
const toggleModal = () => {
  isModalOpen.value = !isModalOpen.value;
};
</script>
<template>
  <main>
  <!-- <div
    id="toast-bottom-right"
    class="fixed flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow right-5 bottom-5 dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800"
    role="alert"
    v-show="toast"
  >
    <div class="text-sm font-normal">{{ errors }}</div>
  </div> -->

  <!--Выводить ошибку с БД-->
  <div
    id="toast-danger"
    class="fixed max-w-xs p-4 space-x-4 divide-x rtl:divide-x-reverse divide-gray-200 right-5 bottom-5 dark:divide-gray-700 space-x flex items-center w-full mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
    role="alert"
    v-show="toast"
  >
    <div
      class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200"
    >
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"
        />
      </svg>
      <span class="sr-only">Error icon</span>
    </div>
    <div class="ms-3 text-sm font-normal animate-bounce">{{ errors }}</div>
  </div>
  <!--Выводить ошибку с БД-->

  <div class="mx-auto w-5/6 my-4">
    <!-- <div class="modal">
      <button @click="toggleModal" class="px-4 py-2 bg-blue-500 text-white rounded-md">Открыть модальное окно</button>
      <div
        v-if="isModalOpen"
        class="modal animate-bounce fixed inset-0 z-50 overflow-auto bg-gray-900 bg-opacity-50"
      >
        <div class="modal-content w-11/12 md:w-1/2 p-5 bg-white mx-auto mt-40">
          <h3
            class="text-lg font-medium text-gray-900 dark:text-white animate-bounce"
          >
            Услуги для {{ service.phase_count }}
          </h3>
          
          <div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Выберите услуги:</h1>
    <div>
      <ul>
        <li v-for="service in services" :key="service.id">
          <button @click="selectService(service)" class="bg-blue-500 text-white rounded p-2 m-2">{{ service.tittle }}</button>
        </li>
      </ul>
    </div>
    <h2 class="text-xl font-bold mt-4">Выбранные услуги:</h2>
    <ul>
      <li v-for="selectedService in selectedServices" :key="selectedService.id">
        {{ selectedService.tittle }}
        <button @click="selectService(selectedService)" class="bg-red-500 text-white rounded p-2 ml-2">Убрать</button>
      </li>
    </ul>
  </div>-->
    <!--<div
            class="flex w-3/2 my-2 items-center ps-4 border border-gray-200 rouded dark:border-gray-700 animate-bounce"
            v-for="service in services"
            :key="service.id"
          >
            {{ service.phase_count }}
            <input
              v-bind:id="service.id"
              type="checkbox"
              v-bind:value="service"
              name="bordered-checkbox"
              @change="handleCheckboxChange(service)"
              v-model="selectedServices"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label 
              v-bind:for="service.id"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ service.tittle }}</label
            ><label
              v-bind:for="service.id"
              class="w-4/12 text-center py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ service.amount }} тг</label
            >
          </div>
        -->
    <!--<div>{{ subscriberServices }}</div>
            <div  v-for="service in services">
              <input type="checkbox" v-bind:id="service" v-bind:value="service" v-model="checkedNames" >
              <label for="jack">{{service}}</label>
            </div>-->
    <!-- <button
            @click="toggleModal"
            class="mt-4 px-4 py-2 bg-blue-500 text-white"
          >
            Продолжить
          </button>
        </div>
      </div>
    </div>-->

    <!-- <h2
      class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"
    >
      Новая заявка : {{ uuid }}
    </h2> -->

    <!--<div class="mt-2 h-48 flex text-gray-500"><div>
      Выбранные сервисы: 
      <ul>
       <li v-for="service in subscriberServices" :key="service">{{ service }}</li>
        {{ service}}
      </ul>
    </div></div>-->
  </div>

  <div class="flex flex-row mx-auto w-5/6">
    <div class="w-2/6 p-4 m-2 h-128 bg-white shadow-md">
      <h3 class="text-lg font-medium text-gray-900 dark:text-white">
        {{ currentDate }}г.
      </h3>
      <form
        v-on:submit.prevent="storeOrder(form, selectedServices)"
        class="max-w bg-white"
      >
        <div class="space-y-6">
          <div class="relative z-0 w-full my-4 group">
            <input
              type="text"
              id="account_number"
              v-on:keyup.down="fillFields"
              v-model="form.account_number"
              autocomplete="off"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="account_number"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Лицевой счет</label
            >
          </div>
          <div class="relative z-0 w-full my-4 group">
            <input
              type="text"
              id="full_name"
              v-model="form.full_name"
              autocomplete="off"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="full_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >ФИО абонента</label
            >
          </div>
          <div class="relative z-0 w-full my-4 group">
            <input
              type="text"
              id="address"
              v-model="form.address"
              autocomplete="off"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="address"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Адрес</label
            >
          </div>
          <!--<label for="meter_number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">meter_number</label>-->
          <div class="flex flex-row h-8">
            <div v-for="meter_number in form.meter_numbers">
              <!--<button
                id="meter_number"
                type="button"
                @click="submitMeterReading(meter_number)"
                class="animate-bounce text-blue-700 hover:text-white border border-blue-700
                 hover:bg-blue-800 font-medium text-sm px-5 py-2.5 text-center me-2 mb-2
                 active:bg-blue-800 active:border-blue-800 active:text-white mr-1 cursor-not-allowed"
              >
                {{ meter_number }}
              </button>-->

              <div class="relative">
                <input
                  class="peer hidden"
                  v-bind:id="meter_number"
                  type="radio"
                  name="radio"
                />
                <label
                  class="flex cursor-pointer flex-col border border-gray-300 px-5 py-3.5 peer-checked:border-2 me-2 mb-2 peer-checked:border-indigo-500"
                  v-bind:for="meter_number"
                  @click="submitMeterReading(meter_number)"
                >
                  <span class="text-xs font-semibold uppercase">
                    {{ meter_number }}</span
                  >
                </label>
              </div>

              <!-- <button   -- Сохранить сервис --
                
                type="button"
                @click="storeServices(selectedServices)"
                class="animate-bounce text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800
                 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 
                  focus:bg-blue-800 focus:border-blue-800 focus:text-white mr-1"
              >
               service
              </button>-->

              <!--<input type="text" id="meter_number"  v-model="service.meter_number" autocomplete="off" >-->
              <!--<input type="text" id="meter_number" v-model="form.meter_numbers" autocomplete="off" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">-->
            </div>
          </div>
          <div class="mt-8">
            <button
              type="submit"
              class="px-4 py-2 bg-indigo-600 hover:bg-indigo-800 text-white"
            >
              Сохранить
            </button>
          </div>
        </div>
      </form>
    </div>
    
    
    <div class="w-3/4 h-128 m-2 p-4 relative bg-white shadow-md animate-bounce">
      <!--<div class="p-4">{{ service.phase_count }}</div>
    <div v-for="service in services"> {{ service.tittle  }} - {{ service.amount }} тг</div>-->

      
      <!-- <h3
        class="text-lg font-medium text-gray-900 dark:text-white animate-bounce"
      >
        {{ service.phase_count }}
      </h3> -->
      
      <div class="animate-bounce"> 
       
        <!-- <ul role="list" class="divide-y divide-gray-100" v-for="selectedService in selectedServices"
          :key="selectedService.id">
          <li class="flex justify-between py-6 pr-10">
            <div class="flex min-w-0 max-w-96 ">
              <div class="min-w-0 flex-auto">
                <p class="text-sm font-semibold leading-6 text-gray-900">{{ selectedService.tittle }}</p>  
              </div>
            </div>
           
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
              <p class="text-sm leading-6 text-gray-900">{{ selectedService.amount }} тг.</p>
            </div>
          </li>
          <hr>
        </ul>   -->


       <ul>
        <div v-for="selectedService in selectedServices"
          :key="selectedService.id">
      <a   @click="selectService(selectedService)" href="#" class="flex flex-col items-center  border
       border-gray-200  shadow md:flex-row w-full my-2
       hover:bg-red-200 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 text-sm">
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 font-normal  tracking-tight text-gray-900 dark:text-white">{{ selectedService.tittle }}</h5>
          <p class="mb-3 w-96  font-bold  text-gray-700 dark:text-gray-400">{{ selectedService.amount }} тг.</p>
        </div>
      </a>
    </div>
      </ul> 
     
        <!-- <ul class="grid w-full  grid-cols-4">
          <li v-for="service in services" :key="service.id">
            <button
              @click="selectService(service)"
              class="flex-auto w-48 my-2  border border-gray-200 rounded
               dark:border-gray-700 animate-bounce h-32 text-sm"
            >
              {{ service.tittle }}
            </button>
          </li>
        </ul> -->
        <ul role="list" class="divide-ydivide-gray-100 absolute bottom-0 " v-if="totalAmount > '0'">
          <li class="flex justify-between gap-x-6 py-5">
            <div class="flex min-w-0 gap-x-4 float-left">
              <div class="min-w-0 flex-auto">
                <p class="text-sm font-semibold leading-6 text-gray-900"></p>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500">Общая сумма</p>
              </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end float-right">
              <p class="text-sm leading-6 text-gray-900">{{totalAmount}}</p>
            </div>
          </li>
        </ul> 
      </div>
      
     
     

      

  
    </div>
    <div class="w-1/3 h-128 m-2 p-4 bg-white shadow-md animate-bounce ">
      <span v-if="service.phase_count == 0">
        <div class="p-4 rounded-lg bg-gray-100">
          <div class="font-medium text-center text-gray-500 dark:text-gray-400">
            Укажите прибор учета для выбора услуг
          </div>
        </div>
      </span> <span v-else class="text-xs">{{ service.phase_count }}</span>
      <div v-for="service in services"
          :key="service.id">
      <a   @click="selectService(service)" href="#" class="flex flex-col items-center bg-white border
       border-gray-200  shadow md:flex-row my-2
       hover:bg-green-200 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 text-sm">
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 font-normal  tracking-tight text-gray-900 dark:text-white">{{ service.tittle }}</h5>
      </div>
      </a>
    </div>
    </div>
  </div>
  
 <!-- <div class="flex flex-row mx-auto w-5/6">
    <div class="w-3/5 bg-white">
      <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">Выберите услуги:</h1>
        <div>
          <ul>
            <li v-for="service in services" :key="service.id">
              <button
                @click="selectService(service)"
                class="flex w-full my-2 items-center ps-4 border border-gray-200 rounded dark:border-gray-700 animate-bounce"
              >
                {{ service.tittle }}
              </button>
            </li>
          </ul>
        </div>
        <ul>
          <li
            v-for="selectedService in selectedServices"
            :key="selectedService.id"
          >
            <span
              class="w-1/3 py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ selectedService.tittle }}</span
            >
            <span
              class="w-1/4 text-center py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >{{ selectedService.amount }} тг</span
            >

            <select
              v-bind:id="index"
              class="block py-2.5 mx-5 px-0 text-sm text-gray-500 bg-transparent border-0 border-b-2
               border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0
               focus:border-gray-200 peer w-1/4"
            >
              <option
                v-for="employee in staff"
                :key="employee.Employee_ID"
                :value="employee.Employee_ID"
              >
                {{ employee.Short_Name }}
              </option>
            </select>
            <button
              @click="selectService(selectedService)"
              class="bg-red-500 text-white rounded p-2 mx-2"
            >
              Убрать
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>-->
  </main>
</template>
<style scoped>
.animate-bounce {
  animation: flash 500ms ease;
}
@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
